@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --color-inverted: oklch(24.372% 0.0059 271.178);
  --custom-text-color: oklch(24.372% 0.0059 271.178);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-2: oklch(82.032% 0.00009 271.152);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.929 0.013 255.508);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.929 0.013 255.508);
  --carousal-fade: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  --hover-search-border-color: #ff8c00;
  --btn-search-hover-bg: oklch(94.611% 0.00011 271.152);
  --highlight-color: #1890ff; /* bright glow */
  --highlight-color-light: #4db8ff; /* softer glow */
}

.dark {
  --background: oklch(24.372% 0.0059 271.178);
  --foreground: oklch(0.984 0.003 247.858);
  --color-inverted: oklch(0.984 0.003 247.858);
  --custom-text-color: oklch(0.984 0.003 247.858);
  --card: oklch(24.372% 0.0059 271.178);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(24.372% 0.0059 271.178);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-2: oklch(40.54% 0.00005 271.152);
  --primary-foreground: oklch(24.372% 0.0059 271.178);
  --secondary: oklch(40.54% 0.00005 271.152);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(1 0 0 / 10%);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(24.372% 0.0059 271.178);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(1 0 0 / 10%);
  --carousal-fade: oklch(24.372% 0.0059 271.178);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --hover-search-border-color: #969696;
  --btn-search-hover-bg: oklch(32.897% 0.00004 271.152);
  --highlight-color: #40a9ff;
  --highlight-color-light: #85caff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.color-change-text {
  font-weight: bold;
  background: linear-gradient(
    270deg,
    #ff0000,
    #00ff00,
    #0000ff,
    #ff00ff,
    #ff0000
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Safari & Chrome */
  animation: gradientFlow 6s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 100%;
  }
  30% {
    background-position: 100% 200%;
  }
  50% {
    background-position: 200% 300%;
  }
  100% {
    background-position: 300% 400%;
  }
}

/* From Uiverse.io by MuhammadHasann */
/* .button {
  --black-700: hsla(0 0% 12% / 1);
  --border_radius: 9999px;
  --transtion: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  transform-origin: center;

  padding: 8px 10px;
  background-color: transparent;

  border: none;
  border-radius: var(--border_radius);
  transform: scale(calc(1 + (var(--active, 0) * 0.1)));

  transition: transform var(--transtion);
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: var(--black-700);

  border-radius: var(--border_radius);
  box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
    0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0)));

  transition: all var(--transtion);
  z-index: 0;
}

.button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-position: top;

  opacity: var(--active, 0);
  border-radius: var(--border_radius);
  transition: opacity var(--transtion);
  z-index: 2;
}

.button:is(:hover, :focus-visible) {
  --active: 1;
}
.button:active {
  transform: scale(1);
}

.button .dots_border {
  --size_border: calc(100% + 2px);

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--size_border);
  height: var(--size_border);
  background-color: transparent;

  border-radius: var(--border_radius);
  z-index: -10;
}

.button .dots_border::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transform: rotate(0deg);

  width: 100%;
  height: 2rem;
  background-color: white;

  mask: linear-gradient(transparent 0%, white 120%);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.button .sparkle {
  position: relative;
  z-index: 10;

  width: 1.75rem;
}

.button .sparkle .path {
  fill: currentColor;
  stroke: currentColor;

  transform-origin: center;

  color: hsl(0, 0%, 100%);
}

.button:is(:hover, :focus) .sparkle .path {
  animation: path 1.5s linear 0.5s infinite;
}

.button .sparkle .path:nth-child(1) {
  --scale_path_1: 1.2;
}
.button .sparkle .path:nth-child(2) {
  --scale_path_2: 1.2;
}
.button .sparkle .path:nth-child(3) {
  --scale_path_3: 1.2;
}

@keyframes path {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }
  17% {
    transform: scale(var(--scale_path_1, 1));
  }
  49% {
    transform: scale(var(--scale_path_2, 1));
  }
  83% {
    transform: scale(var(--scale_path_3, 1));
  }
}

.button .text_button {
  position: relative;
  z-index: 10;

  background-image: linear-gradient(
    90deg,
    hsla(0 0% 100% / 1) 0%,
    hsla(0 0% 100% / var(--active, 0)) 120%
  );
  background-clip: text;

  font-size: 1rem;
  color: transparent;
} */

/* *********************************************** new approach for button ********************************************* */

.button-variants-1 {
  position: relative;
  border: none;
  transform-origin: center;
  background-color: transparent;
  transform: scale(calc(1 + (var(--active, 0) * 0.1)));
  transition: transform 0.3s ease-in-out;
}
.button-variants-1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  /* border-radius: 9999px; */
  background-color: var(--background);
  box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
    0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0)));
  transition: all 0.3 ease-in-out;
  z-index: 0;
}
.button-variants-1:is(:hover, :focus-visible) {
  --active: 1;
}
.button-variants-1:active {
  transform: scale(1);
}
.button-variants-1 .dots_border {
  --size_border: calc(100% + 2px);

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--size_border);
  height: var(--size_border);
  background-color: transparent;

  /* border-radius: 9999px; */
  z-index: -10;
}

.button-variants-1 .dots_border::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transform: rotate(0deg);

  width: 100%;
  height: 2rem;
  background-color: var(--color-inverted);

  mask: linear-gradient(transparent 0%, var(--color-inverted) 120%);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.button-variants-1 .text_button {
  position: relative;
  z-index: 10;

  background-image: linear-gradient(
    90deg,
    var(--custom-text-color),
    hsla(0 0% 100% / var(--active, 0)) 120%
  );
  background-clip: text;
  color: transparent;
}

.button-variants-1 .all-icons {
  position: relative;
  box-sizing: border-box;
  z-index: 10;
}

/* .btn {
  color: #fff;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
  @media(min-width: 600px) {
    margin: 0 1em 2em;    
  }
  
  &:hover { text-decoration: none; }
}

.btn-3 {
  background: lighten(--btn-search-hover-bg, 3%);  
  border: 1px solid darken(--btn-search-hover-bg, 4%);
  box-shadow: 0px 2px 0 darken(--btn-search-hover-bg, 5%), 2px 4px 6px darken(--btn-search-hover-bg, 2%);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-3:hover {
  background: darken(--btn-search-hover-bg, 1.5%);
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: lighten(--btn-search-hover-bg, 18%); 
  text-decoration: none;
  text-shadow: -1px -1px 0 darken(--btn-search-hover-bg, 9.5%);
  transition: all 250ms linear;
} */


/*  highlight header section for header files changes */
.highlight-header-section-1 {
  border: 3px solid #888;
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  /* border-color: #ffeb3b; */
  /* animation: glowAnimation 1s ease-in-out infinite; */
}

/* Keyframes for glowing pulse animation */
@keyframes glowAnimation {
  0% {
    border-color: #ffeb3b;
    box-shadow: 0 0 5px #ffeb3b;
  }
  50% {
    border-color: #ffeb3b;
    box-shadow: 0 0 15px 5px #ffeb3b;
  }
  100% {
    border-color: #ffeb3b;
    box-shadow: 0 0 5px #ffeb3b;
  }
}


/* Highlight + glowing animation */
.highlight-header-section {
  border: 2px solid var(--highlight-color);
  animation: glowPulse 1.8s ease-in-out infinite;
}

/* Keyframes for pulse glow */
@keyframes glowPulse {
  0% {
    border-color: var(--highlight-color-light);
    box-shadow: 0 0 8px var(--highlight-color-light), 0 0 15px var(--highlight-color-light);
  }
  50% {
    border-color: var(--highlight-color);
    box-shadow: 0 0 18px var(--highlight-color), 0 0 30px var(--highlight-color);
  }
  100% {
    border-color: var(--highlight-color-light);
    box-shadow: 0 0 8px var(--highlight-color-light), 0 0 15px var(--highlight-color-light);
  }
}

