on:
  pull_request:
  push:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: "22"

      - name: Install Dependencies
        run: yarn install

  check-branch:
    runs-on: ubuntu-latest
    needs: checks

    steps:
      - name: Prevent direct merge to main (Allow only from dev branch)
        if: github.base_ref == 'main'
        run: |
          if [[ "${{ github.head_ref }}" != "dev" ]]; then
            echo "Only dev branch can be merged into 'main'."
            exit 1
          else
            echo "allowed merge from 'dev' to 'main'."

  ci:
    runs-on: ubuntu-latest
    needs: check-branch

    steps:
      - name: Starting Deployment to Render Production
        if: github.ref == 'refs/heads/main'
        run: echo "Deploying to Render Production Env..."

      - name: Deploy to Render (Production)
        if: github.ref == 'refs/heads/main'
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: curl -X POST "$deploy_url"
