name: Deploy to Render

on:
  push:
    branches:
      - main   # Only deploy when main is updated

jobs:
  # build-and-deploy:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Setup Node
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 22.16.0

  #     - name: Install dependencies
  #       run: yarn install --frozen-lockfile

  #     - name: Build
  #       run: yarn build

  #     - name: Deploy to Render
  #       uses: givemomentum/render-deploy@v1.5.1
  #       with:
  #         service_id: ${{ secrets.RENDER_SERVICE_ID }}
  #         api_key: ${{ secrets.RENDER_API_KEY }}
  #         wait_deploy: true

  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Test
        run: |
          yarn install

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          curl "$deploy_url"